.settings-modes__item {
    display: flex;
    align-items: center;
    gap: 16px;
}

.settings-modes__delete-btn {
    margin-left: auto;
}

.settings-modes__container {
    width: 100%;
    background: white;
    padding: 20px;
    border-radius: 6px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.settings-modes__modes-block {
    display: inline-flex;
    flex-direction: column;
    gap: 16px;
}