.app__body {
  background: #f5f5f5;
  padding: 0 16px 32px;
  display: flex;
  flex-direction: column;
  gap: 32px;
  height: 100%;
  min-height: 100%;
}

.app__action-container {
  display: flex;
  width: 100%;
  min-width: 100%;
  gap: 32px;
  align-items: flex-start;
}

h1 {
  text-align: center;
}

.app__osago {
  margin: 0 auto;
  width: 430px;
  max-width: 430px;
}